section{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    flex-shrink: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 80px;
    font-weight: bold;
    line-height: 10px;
    color: white;

}

.title p {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.title-line1 {
    margin: 45px;;
}

.title-line2 {
    margin-top: 30px;
}

.title-line3 {
    margin-left: 80px;
}

.home-logo {
    padding-left: 50px;
    padding-right: 40px;
    object-fit: cover;
    height: 100%;
    mix-blend-mode: multiply;
}

.title-second-line {
    display: flex;
    flex-direction: row;
}

.class-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.home-pic {
    height: 100%;
    width: 100%;
    margin: 12px;
}