section{
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title {
    margin-right: 64px;
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-shrink: 0;
    font-size: xx-large;
    font-weight: 800;
    line-height: 0;
}


.homepage-pic {
    height:300px;
}