.navigation-bar {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
}