nav {
    font-family: 'Ubuntu', 'Noto Sans SC', sans-serif;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 10px;
    background-color: rgb(236, 164, 203);
}

.logo{
    margin-left: 20px;
    height: 60px;
    mix-blend-mode: multiply;
}

.nav-button-container {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    text-decoration: none;
    margin-right: 24px;
    padding: 5px 45px 10px;
    border-style: solid;
    border-color: rgb(178, 35, 111);
    border-width: 1px;
    border-radius: 50px;
    box-shadow: 0.5px 1px 3px;
    white-space: nowrap;
    background-color: rgb(244, 121, 186);
}

.nav-buttons:hover {
    background-color: rgb(213, 85, 153);
    box-shadow: 1px 2px 3px;
    transition: 0.15s;
}

.nav-title {
    font-size: medium;
    color: white;
    padding: 3px;
}