nav {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    padding-right: 10px;
    background-color: rgb(236, 164, 203);
    box-shadow: 0.5px 1px 3px;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin-right: 24px;
    padding: 5px 45px 5px 45px;
    border-style: solid;
    border-color: rgb(162, 43, 106);
    border-width: 1px;
    border-radius: 50px;
    box-shadow: 0.5px 1px 3px;
    white-space: nowrap;
    background-color: rgb(230, 111, 174);
}

.nav-buttons:hover {
    background-color: blueviolet;
    transition: 0.15s;
}

.nav-title {
    color: white;
    padding: 3px;
}

section{
    margin-top: 150px;
    background-color: gold;
}